.navbar-brand img {
    width: 80px;
    height: 80px;
}

.navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 10px 0 0 0;
}

.blog-info-header h3 small {font-size: 45%;}
